<div style="margin: 20px">
  <table>
    <tr
      *ngFor="
        let item of items
          | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize
      "
    >
      <td>{{ item.name }}</td>
    </tr>
  </table>
  <ngb-pagination
    [collectionSize]="items.length"
    [(page)]="page"
    [maxSize]="5"
    [rotate]="true"
    [ellipses]="false"
    [boundaryLinks]="true"
  ></ngb-pagination>
</div>
